@model dynamic

@{
    ViewBag.Title = "Create User";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Create User</h2>
@using (Html.BeginForm("Save", "Users", FormMethod.Post))
{
    <p>Name:</p>
    <input type="text" id="name" name="name" value="@ViewBag.Name"/>
    <p>Goal:</p>
    <input type="text" id="goal" name="goal" value="@ViewBag.Goal"/>
    <input type="submit" value="Save"/>
    <input type="hidden" name="userId" value="@ViewBag.Id"/>
}
